<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Intestacy Calculator WA</title>
        <meta name="description" content="{{ title }}">
        {% else %}
        <title>Intestacy Calculator WA</title>
        {% endif %}
        <meta name="author" content="Jeremy Thomas London">
        {% block keywords %}
        <meta name="keywords" content="administration, administration act 1903, administrator, calculate, calculator, death, deceased, distribute, distribution, entitlement, intestacy, intestate, law, share, wa, western australia, will">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        {% block scripts %}{% endblock %}
    </head>
    
    <body>
        <header>
            Intestacy Calculator WA:
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('calculate') }}">Calculate</a>
                <a href="{{ url_for('act') }}" rel="external" target="_blank"><cite><i>Administration Act 1903</i></cite> (WA)</a>
                <a href="{{ url_for('test') }}">test</a>
            </nav>
            <hr>
        </header>
        <main role="main">
        {% block content %}{% endblock %}
        </main>
    </body>
</html>