<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Intestacy Calculator WA</title>
        <meta name="description" content="{{ title }}">
        {% else %}
        <title>Intestacy Calculator WA</title>
        {% endif %}
        <meta name="author" content="Jeremy Thomas London">
        {% block keywords %}
        <meta name="keywords" content="administration, administration act 1903, administrator, calculate, calculator, death, deceased, distribute, distribution, entitlement, intestacy, intestate, law, share, wa, western australia, will">
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        {% block scripts %}{% endblock %}
    </head>

    <body>
        <header>
            <div>Intestacy Calculator WA:</div>
            <div><a href="{{ url_for('index') }}">Home</a></div>
            <div><a href="{{ url_for('calculate') }}">Calculate</a></div>
            <div><a href="{{ act_url }}" rel="external" target="_blank"><cite>Administration Act 1903</cite> (WA)</a> <span class="external-warning">(external link)</span></div>
            {% if config['TESTING'] %}
            <div><a href="{{ url_for('test') }}">test</a></div>
            {% endif %}
        </header>
        <hr>
        <main role="main">
        {% block content %}{% endblock %}
        </main>
    </body>
</html>
