{% extends "base.html" %}

{% block content %}
<h1>Disclaimer</h1>
<div id="disclaimer" class="disclaimer">
    <p>I strive to ensure the information presented by Intestacy Calculator WA is correct and to warn users when their inputs suggest a scenario where there is a risk that the displayed results might not apply. But law and life are complicated and it is easy for a person without training in an area of law to misinterpret or misapply the law in their unique circumstances. For example, it is not always obvious whether Western Australian law applies, or whether a person was in a de facto relationship, or whether a particular asset forms part of the deceased estate. For these reasons, please be aware that although this website may be a handy tool for those who know how to use it correctly, it is not a substitute for professional legal advice and is only intended to be used in conjunction with professional legal advice.</p>
    <p>Contact <a href="https://www.robertsonhayles.com.au">Robertson Hayles Lawyers</a> for high quality, compassionate legal advice at a fair price.</p>
</div>
{% endblock %}
