{% extends "base.html" %}

{% block content %}
<h1>Distribution to beneficiaries on intestacy</h1>
<div>
    <h2>Date of death: <time datetime="{{ estate.deathdate.strftime('%Y-%m-%d') }}">{{ estate.deathdate.strftime('%-d %B %Y') }}</time></h2>
    <h2>Value of estate: {{ dollar(estate.value) }}</h2>
    {% if estate.aboriginal_warning %}
    <p id="aboriginal-warning">WARNING: For intestate deaths before <time datetime="2013-08-07">7 August 2013</time> the estate may be distributed differently if the deceased was of Aboriginal descent.</p>
    {% endif %}
    <h3>Based on the information provided, the beneficiaries of the intestate estate are as follows:</h3>
    <table>
        <!--TODO: Add a <caption>-->
        <colgroup>
            <col class="col-major beneficiary">
            <col class="col-minor name">
            <col class="col-minor fixed decimal">
            <col class="col-minor interest decimal">
            <col class="col-major fraction">
            <col class="col-minor percentage decimal">
            <col class="col-major share decimal">
            <col class="col-minor notes">
        </colgroup>
        <thead>
            <tr>
                <!--TODO: Is there a better alternative to the <br>s, since they aren't semantic?-->
                <th scope="col" class="col-major beneficiary">Beneficiary</th>
                <th scope="col" class="col-minor name">Name</th>
                <th scope="col" class="col-minor fixed">Fixed sum <br>entitlement</th>
                <th scope="col" class="col-minor interest">Interest <br>to date on <br>fixed sum</th>
                <th scope="col" class="col-major fraction">Fraction <br>of residue</th>
                <th scope="col" class="col-minor percentage">Percentage <br>of residue</th>
                <th scope="col" class="col-major share">Total share <br>of estate</th>
                <th scope="col" class="col-minor notes">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for relative in estate %}
            {% set row_class = loop.cycle('odd', 'even') %}
            <tr class="row-{{ row_class }}">
                {% include "rows.html" %}
            </tr>
            {% for child in relative.issue %}
            <tr class="row-{{ row_class }}">
                {% set relative = child %}
                {% include "rows.html" %}
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row" colspan="4">TOTALS</th>
                <td>1</td>
                <td>100.00%</td>
                <td>{{ dollar(estate.value) }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.value.label }} $ {{ form.value(size=15) }} {{ form.submit() }}
</form>
<aside><p>
    Can you rely on this information? Click here to find out.
</p></aside>
{% endblock %}
