{% if field.type == "FieldList" %}
<ol id="{{ field.id }}-ol">
    {% for subfield in field %}
    <li hidden>
        {% set field = subfield %}
        {% include "field.html" %}
    </li>
    {% endfor %}
</ol>
{% elif field.type == "FormField" %}
<fieldset>
{% for subfield in field %}
    <div>
        {% set field = subfield %}
        {% include "field.html" %}
    </div>
{% endfor %}
</fieldset>
{% elif field.type not in ("CSRFTokenField", "SubmitField") %}
{{ field.label }}<br>
{% if field.type == "MoneyField" %}
    $ {{ field(size=15) }}
{% else %}
{{ field(size=32) }}
{% endif %}
<br>
{% for error in field.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
{% endif %}