{% extends "base.html" %}

{% block content %}
<h1>Welcome to Intestacy Calculator WA</h1>
<hr>
<div id="intro">
    <p id="creator">
        Created 2018-2019 by Jeremy Thomas London
    </p>
    <p id="version">
        v {{ config['VERSION'] }}
    </p>
    <address>
        Please report any bugs to <a href="mailto:jeremylondon@outlook.com.au?subject=Intestacy%20Calculator">jeremylondon@outlook.com.au</a>
    </address>
    <p id="changelog"></p>
</div>
<hr>
<div id="index">
    What would you like to do?
    <ul>
        <li><a href="{{ url_for('calculate') }}">Calculate who receives a share of a deceased estate where the deceased died intestate (without a valid will) and how much each beneficiary receives
        </a></li>
        <li>View relevant sections of the <cite><a href="{{ url_for('act') }}" rel="external" target="_blank">Administration Act 1903</cite> (WA)</a> (opens external link in a new tab or window)</li>
    </ul>
</div>
{% endblock %}
