{% extends "base.html" %}

{% block content %}
    <h1>Test</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField", "SubmitField") %}
        <p>
            {{ field.label }}<br>
            {{ field(size=32) }}<br>
            {% for error in field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
